.header
    height: 112px
    // border: 1px solid aqua
    width: 100%
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.1)
    .header__top
        display: flex
        align-items: center
        height: 63px
        border-bottom: 1px solid #DDE0E6
    .header__back-icon
        margin-left: 1.77%
        color: #6E7178
    .header__title
        margin-left: 1.8%
        margin-bottom: 3px
    .header__top-icon
        margin-right: 1.68%
        color: #2D2F33
    .header__top-icon:nth-last-of-type(2)
        margin-left: auto
        // border: 1px solid blue
    .header__bottom
        display: flex
        height: 48px
        align-items: stretch
    .header__page-button
        margin-left: 1.4%
    .header__page-button:nth-last-of-type(4)
        // border: 1px solid red
        margin-left: auto
    .header__page-button:last-of-type
        margin-right: 1.6%

@import './page-button/style'
// @import './settings-button/style'